<li class="list-group-item">
  <div *ngIf="!editing; else editForm">
    <span (click)="changeStatus()">
      <i class="far"
      [ngClass]="{
        'fa-square':!task.isCompleted,
        'fa-check-square':task.isCompleted
      }"></i>
    </span>

    <span [class.task-done]="task.isCompleted">
      {{ task.content }}
    </span>

    <span (click)="toggleEdit()">
      <i class="fas fa-pencil-alt"></i>
    </span>

    <span (click)="remove.emit()">
      <i class="fas fa-trash-alt"></i>
    </span>

  </div>
  <ng-template #editForm>
    <form (ngSubmit)="saveTask()">
      <input 
        [(ngModel)]="content"
        (blur)="stopEditing()"
        (keyup.escape)="stopEditing()" 
        autofocus
        autocomplete="off"
        name="content" 
        type="text">
    </form>
  </ng-template>
</li>