body {
  @include box-gradient(0deg, $background-color, darken($background-color, 3%));
  height: 100vh;
  padding-top: 80px;
  color: #fff;
}
.btn {
  font-size: $login-text-size;
}
.btn-outline-danger {
  &:hover {
    @include box-shadow(0px, 28px, 60px, -5px, rgba(#ff4444, 0.4));
  }
}
.btn-outline-primary {
  &:hover {
    @include box-shadow(0px, 28px, 60px, -5px, rgba(#4285F4, 0.4));
  }
}
.btn-outline-secondary {
  &:hover {
    @include box-shadow(0px, 28px, 60px, -5px, rgba(#3F729B, 0.4));
  }
}
.btn-outline-success {
  @include border(1px, $secondary-color, 4px);
  color: $secondary-color;

  &:hover, &:active, &:focus {
    @include box-shadow(0px, 28px, 60px, -5px, rgba($secondary-color, 0.4));
    @include border(1px, $secondary-color, 4px);
    background: $secondary-color !important;
  }
}