a {
  cursor: pointer;
  color: #fff !important;
}
.bg-dark {
  background-color: $navbar-color !important; 
}
.navbar-brand {
  h3 {
    @include text-gradient(45deg, $primary-color, $secondary-color);
    font-size: $brand-size;
    text-transform: lowercase;
    font-weight: 700;
  }
}

.dropdown-menu {
  background: rgba(#000, 0.5);
  @include box-shadow(0, 0, 35px, 0, rgba($primary-color, 0.75));
  a {
    &:hover {
      @include box-gradient(45deg, $primary-color, $secondary-color);
    }
  }
}