<li class="list-group-item">
  <div *ngIf="!editing; else editForm">
    <span (click)="toggleEdit()" style="color: blue">
      <i class="fas fa-pencil-alt"></i>
    </span>
    <span (click)="changeStatus()" style="color: green">
      <i class="far fa-check-circle"></i>
    </span>
    <span (click)="remove.emit()" style="color: red">
      <i class="fas fa-trash-alt"></i>
    </span>
    {{ task.title }}
    <span *ngIf="task.isDone">|| Completed</span>
  </div>
  <ng-template #editForm>
    <form (ngSubmit)="saveTask()">
      <input 
        [(ngModel)]="title"
        (blur)="stopEditing()"
        (keyup.escape)="stopEditing()" 
        name="title" 
        type="text">
    </form>
  </ng-template>
</li>