<div @buttonsEntrance>
  <div class="row justify-content-md-center py-4">
    <div class="col col-md-6 text-center">
      <button 
        (click)="loginWithGoogle()" 
        class="btn btn-outline-danger btn-block">Login With Google</button>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col col-md-6 text-center">
      <button 
        (click)="loginWithFacebook()" 
        class="btn btn-outline-primary btn-block">Login With Facebook</button>
    </div>
  </div>
  <div class="row justify-content-md-center py-4">
    <div class="col col-md-6 text-center">
      <button 
        (click)="loginWithGithub()" 
        class="btn btn-outline-secondary btn-block">Login With Github</button>
    </div>
  </div>
</div>