<nav 
  class="navbar navbar-expand-md fixed-top bg-dark" 
  [class.home-end]="current === '/'">
  <div class="container">
    <a class="navbar-brand py-2" routerLink="/">
      <h3>Tasks</h3>
    </a>

    <button 
    class="navbar-toggler" 
    type="button" 
    (click)="isNavbarCollapsed = !isNavbarCollapsed"
    data-toggle="collapse" 
    data-target="#navbarCollapse" 
    aria-controls="navbarCollapse" 
    [attr.aria-expanded]="!isNavbarCollapsed"
    aria-expanded="false"  
    aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
        <i class="fas fa-bars"></i>
      </span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse" [ngbCollapse]="isNavbarCollapsed">
      <ul class="navbar-nav ml-auto">

        <ng-template #anonymousUser>
          <li class="nav-item">
            <a class="nav-link py-2" routerLink="/login">Login</a>
          </li>
        </ng-template>

        <li *ngIf="getUsername(); else anonymousUser" ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle py-2" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ getUsername() || 'User'}}
          </a>

          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" routerLink="/tasks">
              <i class="fas fa-thumbtack"></i>
              My Tasks
            </a>
            <a class="dropdown-item" (click)="logout()">
              <i class="fas fa-sign-out-alt"></i>
              Log Out
            </a>
          </div>
          
        </li>

      </ul>
    </div>
  </div>
</nav>